body {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

body *:focus {
    outline: 0;
}

.fixed-content {
    position: fixed;
    top: 45px;
    bottom: 75px;
    left: 0;
    right: 0;
    overflow: hidden;
    max-width: none;
}

.fixed-content .sidebar {
    height: 100%;
    padding: 0;
    overflow: auto;
}

.fixed-content .sidebar .icon-bar.vertical {
    width: 100%;
}

.fixed-content .dynamic-content {
    height: 100%;
    padding-top: 0.9375rem;
    padding-bottom: 0.9375rem;
    overflow: auto;
}

.fixed-content .dynamic-content .panel {
    margin: 0;
}

.top-bar .title-area .name img,
.tab-bar .middle img {
    vertical-align: top;
    height: 35px;
    margin: 5px;
}

.spoozer-background {
    background-color: #222 !important;
}

.top-bar-section ul li,
.top-bar-section ul li > a,
.sidebar .icon-bar li,
.tab-bar {
    background-color: #222 !important;
}

.top-bar-section ul li:hover:not(.has-form) > a,
.top-bar-section .dropdown li:not(.has-form):not(.active):hover > a:not(.button),
.sidebar .icon-bar li:hover {
    background-color: #292929 !important;
}

.top-bar-section ul li.spoozer,
.top-bar-section ul li.spoozer > a,
.sidebar .icon-bar li.spoozer,
ul.off-canvas-list li.spoozer a {
    background-color: #00c300 !important;
    color: #000 !important;
}

.top-bar-section ul li.spoozer:hover:not(.has-form) > a,
.top-bar-section .dropdown li.spoozer:not(.has-form):not(.active):hover > a:not(.button),
.sidebar .icon-bar li.spoozer:hover,
ul.off-canvas-list li.spoozer a:hover {
    background-color: #00ad00 !important;
    color: #000 !important;
}

ul.icon-bar {
    margin: 0;
}

ul.icon-bar li {
    padding: 0;
}

ul.icon-bar li a {
    display: block;
    padding: 1.25rem;
    color: #fff;
}

ul.icon-bar li.spoozer * {
    color: #000;
}

.icon-bar > * .icon + .text {
    margin-top: 0.0625rem;
    font-size: 1rem;
    display: block;
}

.icon-bar > * .icon {
    font-size: 1.875rem;
    display: block;
    margin: 0px auto;
}

.top-bar .has-form.search {
    /*min-width: 30rem;*/
}

.top-bar input,
.off-canvas-list input {
    font-size: 0.8125rem;
    height: 1.75rem;
    position: relative;
    top: 0.53125rem;
    padding-bottom: 0.35rem;
    padding-top: 0.35rem;
    margin-bottom: 0;
}

.top-bar .has-form .button,
.off-canvas-list .has-form .button {
    font-size: 0.8125rem;
    padding: 5px 13px;
    height: 1.75rem;
    position: relative;
    top: 0.53125rem;
}

.off-canvas-list .has-form {
    height: 2.8125rem;
    padding: 0px 0.9375rem;
    border-bottom: 1px solid #262626;
}

.off-canvas-list .has-dropdown .dropdown {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.off-canvas-list .has-dropdown .dropdown li a {
    padding-left: 2rem;
}

.off-canvas-list li a.active {
    background-color: #242424;
}

.player {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 75px;
    color: #000;
    max-width: 100%;
}

.grey {
    background-color: #888;
}

.range-slider-handle:focus,
.range-slider-handle:hover {
    background-color: #888;
}

.text-white {
    color: #fff !important;
}

.player .columns {
    padding: 0;
    height: 100%;
}

.player .track-info {
    display: block;
    font-size: 12pt;
    margin: 20px 30px;
    line-height: 27px;
}

.player .track-time-progress {
    margin: 20px 15px 20px 30px;
    height: 35px;
}

.player .track-time-text {
    margin: 20px 30px 20px 15px;
    line-height: 35px;
}

.player .player-control {
    margin: 14px auto;
}

.player .player-control .button {
    margin: 0;
}

.player .volume-slider {
    margin: 30px auto;
}

.tabs dd a {
    background-color: #222;
    color: #fff;
}

.tabs dd a:hover {
    background-color: #292929;
    color: #fff;
}

.tabs dd.active a {
    background-color: #00c300;
    color: #000;
}

.tabs dd.active a:hover {
    background-color: #00ad00;
    color: #000;
}

.spotify {
    color: #fff;
    background-color: #2ebd59;
    margin: 0;
}

.spotify:hover, .spotify:active, .spotify:focus {
    color: #fff;
    background-color: #1ed760;
}

.result {
    padding: 1rem 1rem 1rem 0;
    display: table;
    margin-bottom: 1rem;
}

.result-background {
    background-color: rgba(0, 0, 0, 0.5);
}

.result-service {
    color: #fff;
}

.result-service img {
    height: 100px;
    margin-left: 70px;
    margin-bottom: 20px;
}

.result-img {
    width: 6rem;
    margin: 0 auto 1rem;
    display: table-cell;
    width: auto;
}

.result-desc {
    padding: 0 0 0 1rem;
    text-align: left;
    display: table-cell;
    vertical-align: top;
}

.result-desc .result-desc-song {
    color: #fff;
    margin: 0 0 0.5rem 0;
    padding: 0;
}

.result-desc .result-desc-dur {
    color: #fff;
    margin: 0 0 0.25rem;
    padding: 0;
}

.result-desc .event-desc-time {
    font-weight: bold;
}

.accordion-header {
    height: 50px;
}