body {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

body *:focus {
    outline: 0;
}

.content {
    position: fixed;
    top: 45px;
    bottom: 75px;
    left: 0;
    right: 0;
    overflow: hidden;
    max-width: none;
}

.content .sidebar {
    height: 100%;
    padding: 0;
    overflow: auto;
}

.content .sidebar .icon-bar.vertical {
    width: 100%;
}

.content .dynamic {
    height: 100%;
    color: #fff;
    padding-top: 0.9375rem;
    padding-bottom: 0.9375rem;
    overflow: auto;
}

.content .dynamic .panel {
    margin: 0;
}

.top-bar .title-area .name img {
    vertical-align: top;
    height: 35px;
    margin: 5px;
}

.top-bar .has-form .button {
    font-size: 0.8125rem;
    padding: 5px 13px;
}

.top-bar .has-form.search {
    /*min-width: 30rem;*/
}

.player {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 75px;
    background-color: #00ad00;
    color: #000;
    max-width: 100%;
}

.player .columns {
    padding: 0;
    height: 100%;
}

.player .track-info {
    display: block;
    font-size: 12pt;
    margin: 20px 30px;
    line-height: 27px;
}

.player .track-time-progress {
    margin: 20px 15px 20px 30px;
    height: 35px;
}

.player .track-time-text {
    margin: 20px 30px 20px 15px;
    line-height: 35px;
}

.player .player-control {
    margin: 14px auto;
}

.player .player-control .button {
    margin: 0;
}

.player .volume-slider {
    margin: 30px auto;
}

.test {
    background: rgba(255, 0, 0, 0.5);
}
