body {
    height: auto;
}

.heading {
    margin-top: 5%;
}

.header img {
    margin: 0 10px;
}

.not-secure {
    margin: 0;
    margin-top: 1.125rem;
}

.form-login fieldset {
    background: #fff;
    border: 1px solid #aaa;
}

.form-login .button {
    margin: 0;
}

.form-login input.error {
    border-color: #F04124;
}