<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" ng-app="spoozerApp">

<head>
    <th:block th:replace="template/assets :: meta"></th:block>
    <title>Spoozer</title>
    <th:block th:replace="template/assets :: favicon"></th:block>
    <th:block th:replace="template/assets :: css-lib"></th:block>
    <th:block th:replace="template/assets :: css-app"></th:block>
    <th:block th:replace="template/assets :: js-lib-app"></th:block>
    <th:block th:replace="template/assets :: js-app"></th:block>
</head>

<body ng-swipe-left="hideSmallMenu()" ng-swipe-right="showSmallMenu()">
<th:block th:replace="template/global :: require-js"></th:block>
<div class="fixed">
    <div class="off-canvas-wrap">
        <div class="inner-wrap">
            <th:block th:replace="template/menu :: top-small"></th:block>
            <section class="main-section">
                <div class="main-content" fullheight="">
                    <th:block th:replace="template/menu :: top-large"></th:block>
                    <div class="fixed-content" fitplayerheight="">
                        <div class="large-1 medium-2 hide-for-small-only columns sidebar spoozer-background">
                            <th:block th:replace="template/menu :: left-large"></th:block>
                        </div>
                        <div class="large-11 medium-10 small-12 columns dynamic-content">
                            <div class="view" ng-view=""></div>
                            <div class="loading-view"><img src="img/load.gif"/></div>
                        </div>
                    </div>
                    <div class="row player spoozer-background" ng-controller="PlayerCtrl">
                        <th:block th:replace="template/player :: main"></th:block>
                    </div>
                </div>
            </section>

            <a class="exit-off-canvas"></a>
        </div>
    </div>
</div>
</body>

</html>