<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="views/assets :: meta"></th:block>
    <title>Spoozer</title>
    <th:block th:replace="views/assets :: favicon"></th:block>
    <th:block th:replace="views/assets :: css-foundation"></th:block>
    <th:block th:replace="views/assets :: css-app"></th:block>
    <th:block th:replace="views/assets :: js-lib-app"></th:block>
    <th:block th:replace="views/assets :: js-app"></th:block>
    <script type="text/javascript">
        var stompClient = null;

        function connect() {
            var socket = new SockJS('/connect');
            stompClient = Stomp.over(socket);
            stompClient.connect({}, function(frame) {
                console.log('Connected: ' + frame);
                stompClient.subscribe('/setUserDetails', function(e) {
                    var event = JSON.parse(e.body);
                    document.getElementById("userid").innerHTML = event.userDetails.id;
                    document.getElementById("username").innerHTML = event.userDetails.username;
                    document.getElementById("useremail").innerHTML = event.userDetails.email;
                });
                stompClient.send("/getUserDetails", {}, "");
            });
        }

        function disconnect() {
            if (stompClient != null) {
                stompClient.disconnect();
            }
            console.log("Disconnected");
        }
    </script>
</head>

<body onload="connect()">
    <th:block th:replace="views/static :: require-js"></th:block>
    <div class="fixed">
        <nav class="top-bar spoozer-background" data-topbar="" role="navigation">
            <ul class="title-area">
                <li class="name">
                    <h1><a href=""><img src="img/logo.png"/><img src="img/spoozer-light.png"/></a></h1>
                </li>
                <li class="toggle-topbar menu-icon"><a href="#"><span>Menü</span></a>
                </li>
            </ul>

            <section class="top-bar-section">
                <!-- Left Nav Section -->
                <ul class="left">
                    <li class="has-form search spoozer-background">
                        <form class="row collapse">
                            <div class="large-10 small-10 columns">
                                <input name="search" type="text" placeholder="Suchen..." />
                            </div>
                            <div class="large-2 small-2 columns">
                                <button href="#" class="button spoozer expand" type="submit"><span class="fi-page-search"></span>
                                </button>
                            </div>
                        </form>
                    </li>
                </ul>

                <!-- Right Nav Section -->
                <ul class="right">
                    <li class="divider"></li>
                    <li class="has-dropdown">
                        <a href="#" class="spoozer-background">Profil</a>
                        <ul class="dropdown">
                            <li><a href="#" id="userid" class="spoozer-background">Unknown</a>
                            </li>
                            <li><a href="#" id="username" class="spoozer-background">Unknown</a>
                            </li>
                            <li><a href="#" id="useremail" class="spoozer-background">Unknown</a>
                            </li>
                        </ul>
                    </li>
                    <li class="divider"></li>
                    <li class="has-form spoozer-background">
                        <form th:action="@{/logout}" method="post">
                            <button type="submit" class="button spoozer">Abmelden</button>
                        </form>
                    </li>
                </ul>
            </section>
        </nav>
    </div>
    <div class="content">
        <div class="large-1 medium-2 hide-for-small-only columns sidebar spoozer-background">
            <div class="icon-bar vertical five-up">
                <a class="item">
                    <i class="fi fi-home"></i>
                    <label>Home</label>
                </a>
                <a class="item">
                    <i class="fi fi-gamepad"></i>
                    <label>ONE</label>
                </a>
                <a class="item">
                    <i class="fi fi-star"></i>
                    <label>TWO</label>
                </a>
                <a class="item">
                    <i class="fi fi-thumbs-up"></i>
                    <label>THREE</label>
                </a>
                <a class="item">
                    <i class="fi fi-trophy"></i>
                    <label>FOUR</label>
                </a>
            </div>
        </div>
        <div class="large-11 medium-10 small-12 columns dynamic">
            <ul class="large-block-grid-4 medium-block-grid-2 small-block-grid-1" data-equalizer="panels">
                <li>
                    <div class="panel" data-equalizer-watch="panels">
                        <h5>Sicherheit</h5>
                        <p th:if="${!security.isConnectionSecure()}">Die Daten werden unverschlüsselt übertragen!</p>
                    </div>
                </li>
                <li>
                    <div class="panel" data-equalizer-watch="panels">
                        <h5>This is a regular panel.</h5>
                        <p>It has an easy to override visual style, and is appropriately subdued.</p>
                        <p>It has an easy to override visual style, and is appropriately subdued.</p>
                        <p>It has an easy to override visual style, and is appropriately subdued.</p>
                        <p>It has an easy to override visual style, and is appropriately subdued.</p>
                        <p>It has an easy to override visual style, and is appropriately subdued.</p>
                    </div>
                </li>
                <li>
                    <div class="panel" data-equalizer-watch="panels">
                        <h5>This is a regular panel.</h5>
                        <p>It has an easy to override visual style, and is appropriately subdued.</p>
                        <p>It has an easy to override visual style, and is appropriately subdued.</p>
                        <p>It has an easy to override visual style, and is appropriately subdued.</p>
                    </div>
                </li>
                <li>
                    <div class="panel" data-equalizer-watch="panels">
                        <h5>This is a regular panel.</h5>
                        <p>It has an easy to override visual style, and is appropriately subdued.</p>
                        <p>It has an easy to override visual style, and is appropriately subdued.</p>
                    </div>
                </li>
                <li>
                    <div class="panel" data-equalizer-watch="panels">
                        <h5>This is a regular panel.</h5>
                        <p>It has an easy to override visual style, and is appropriately subdued.</p>
                        <p>It has an easy to override visual style, and is appropriately subdued.</p>
                        <p>It has an easy to override visual style, and is appropriately subdued.</p>
                        <p>It has an easy to override visual style, and is appropriately subdued.</p>
                        <p>It has an easy to override visual style, and is appropriately subdued.</p>
                    </div>
                </li>
                <li>
                    <div class="panel" data-equalizer-watch="panels">
                        <h5>This is a regular panel.</h5>
                        <p>It has an easy to override visual style, and is appropriately subdued.</p>
                    </div>
                </li>
                <li>
                    <div class="panel" data-equalizer-watch="panels">
                        <h5>This is a regular panel.</h5>
                        <p>It has an easy to override visual style, and is appropriately subdued.</p>
                        <p>It has an easy to override visual style, and is appropriately subdued.</p>
                        <p>It has an easy to override visual style, and is appropriately subdued.</p>
                        <p>It has an easy to override visual style, and is appropriately subdued.</p>
                    </div>
                </li>
                <li>
                    <div class="panel" data-equalizer-watch="panels">
                        <h5>This is a regular panel.</h5>
                        <p>It has an easy to override visual style, and is appropriately subdued.</p>
                        <p>It has an easy to override visual style, and is appropriately subdued.</p>
                        <p>It has an easy to override visual style, and is appropriately subdued.</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="row player spoozer-background">
        <div class="large-3 columns">
            <span class="label spoozer track-info">Title</span>
        </div>
        <div class="large-2 columns">
            <div class="progress track-time-progress">
                <span class="meter spoozer" style="width: 40%"></span>
            </div>
        </div>
        <div class="large-1 columns text-left">
            <div class="track-time-text text-white">
                <span>1:21 - 3:32</span>
            </div>
        </div>
        <div class="large-2 columns text-center">
            <ul class="button-group round player-control">
                <li><a href="#" class="button spoozer small"><span class="fi-previous"></span></a>
                </li>
                <li><a href="#" class="button spoozer small"><span class="fi-play"></span></a>
                </li>
                <li><a href="#" class="button spoozer small"><span class="fi-next"></span></a>
                </li>
            </ul>
        </div>
        <div class="large-2 columns">
            <div class="range-slider volume-slider" data-slider="">
                <span class="range-slider-handle grey" role="slider" tabindex="0"></span>
                <span class="range-slider-active-segment spoozer"></span>
            </div>
        </div>
        <div class="large-2"></div>
    </div>
    <script>
        $(document).foundation({
            topbar: {
                custom_back_text: true,
                back_text: '<span class="fi-arrow-left"/> Zurück'
            },
            equalizer: {
                equalize_on_stack: true
            }
        });
    </script>

</body>

</html>