<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="template/assets :: meta"></th:block>
    <title>Spoozer - Anmeldung</title>
    <th:block th:replace="template/assets :: favicon"></th:block>
    <th:block th:replace="template/assets :: css-foundation"></th:block>
    <th:block th:replace="template/assets :: css-login"></th:block>
    <th:block th:replace="template/assets :: js-foundation"></th:block>
</head>

<body>
    <th:block th:replace="template/global :: require-js"></th:block>
    <th:block th:replace="template/global :: heading"></th:block>
    <th:block th:replace="template/global :: secure"></th:block>
    <div class="row">
        <div class="large-6 medium-8 small-11 large-centered small-centered columns">
            <form th:action="@{/login}" class="form-login" method="post">
                <fieldset>
                    <h3>Bitte anmelden</h3>
                    <div th:if="${param.error}" class="alert-box alert">
                        Login fehlgeschlagen!
                    </div>
                    <div th:if="${param.logout}" class="alert-box info">
                        Sie wurden abgemeldet.
                    </div>
                    <div th:if="${param.expired}" class="alert-box warning">
                        Sie wurden aufgrund von Inaktivität abgemeldet!
                    </div>
                    <label for="username">Benutzername</label>
                    <input type="text" id="username" name="username" required="required" autofocus="autofocus" />
                    <label for="password">Passwort</label>
                    <input type="password" id="password" name="password" required="required" />

                    <div class="clearfix">
                        <button type="submit" class="button left large-4 medium-4 small-12">Anmelden</button>
                        <a th:href="@{/register}" class="button secondary right large-5 medium-5 small-12">Registrieren</a>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <script>
        $(document).foundation();
    </script>
</body>

</html>