<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Spoozer - Registrierung</title>
    <th:block th:replace="views/assets :: favicon"></th:block>
    <th:block th:replace="views/assets :: css-foundation"></th:block>
    <th:block th:replace="views/assets :: css-login"></th:block>
    <th:block th:replace="views/assets :: js-foundation"></th:block>
</head>

<body>
    <th:block th:replace="views/static :: header"></th:block>
    <th:block th:replace="views/static :: secure"></th:block>
    <div class="row">
        <div class="small-6 small-centered columns">
            <form th:object="${user}" th:action="@{/register}" class="form-login" method="post">
                <fieldset>
                    <h3>Bitte registrieren</h3>
                    <label for="username" th:class="${#fields.hasErrors('username')} ? error">Benutzername</label>
                    <input type="text" id="username" name="username" th:field="*{username}" th:errorclass="error" required="required" autofocus="autofocus" />
                    <small class="error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></small>

                    <label for="email" th:class="${#fields.hasErrors('email')} ? error">E-Mail</label>
                    <input type="email" id="email" name="email" th:field="*{email}" th:errorclass="error" required="required" />
                    <small class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>

                    <label for="password" th:class="${#fields.hasErrors('password')} ? error">Passwort</label>
                    <input type="password" id="password" name="password" th:field="*{password}" th:errorclass="error" required="required" />
                    <small class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></small>

                    <label for="password2" th:class="${#fields.hasErrors('password2')} ? error">Passwort wiederholden</label>
                    <input type="password" id="password2" name="password2" th:field="*{password2}" th:errorclass="error" required="required" />
                    <small class="error" th:if="${#fields.hasErrors('password2')}" th:errors="*{password2}"></small>

                    <div class="clearfix">
                        <button type="submit" class="button left">Registrieren</button>
                        <a th:href="@{/}" class="button secondary right">Zurück</a>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</body>

</html>