<ul class="large-block-grid-4 medium-block-grid-2 small-block-grid-1" data-equalizer="panels">
    <li>
        <div class="panel" data-equalizer-watch="panels">
            <h4>Angesagt:</h4>
            <p><strong>TODO</strong> Globale Suche nach den beliebtesten Liedern</p>
        </div>
    </li>
    <li>
        <div class="panel" data-equalizer-watch="panels">
            <h4>This is a regular panel.</h4>
            <p>It has an easy to override visual style, and is appropriately subdued.</p>
            <p>It has an easy to override visual style, and is appropriately subdued.</p>
            <p>It has an easy to override visual style, and is appropriately subdued.</p>
            <p>It has an easy to override visual style, and is appropriately subdued.</p>
            <p>It has an easy to override visual style, and is appropriately subdued.</p>
        </div>
    </li>
    <li>
        <div class="panel" data-equalizer-watch="panels">
            <h4>This is a regular panel.</h4>
            <p>It has an easy to override visual style, and is appropriately subdued.</p>
            <p>It has an easy to override visual style, and is appropriately subdued.</p>
            <p>It has an easy to override visual style, and is appropriately subdued.</p>
        </div>
    </li>
    <li>
        <div class="panel" data-equalizer-watch="panels">
            <h4>This is a regular panel.</h4>
            <p>It has an easy to override visual style, and is appropriately subdued.</p>
            <p>It has an easy to override visual style, and is appropriately subdued.</p>
        </div>
    </li>
    <li>
        <div class="panel" data-equalizer-watch="panels">
            <h4>This is a regular panel.</h4>
            <p>It has an easy to override visual style, and is appropriately subdued.</p>
            <p>It has an easy to override visual style, and is appropriately subdued.</p>
            <p>It has an easy to override visual style, and is appropriately subdued.</p>
            <p>It has an easy to override visual style, and is appropriately subdued.</p>
            <p>It has an easy to override visual style, and is appropriately subdued.</p>
        </div>
    </li>
    <li>
        <div class="panel" data-equalizer-watch="panels">
            <h4>This is a regular panel.</h4>
            <p>It has an easy to override visual style, and is appropriately subdued.</p>
        </div>
    </li>
    <li>
        <div class="panel" data-equalizer-watch="panels">
            <h4>This is a regular panel.</h4>
            <p>It has an easy to override visual style, and is appropriately subdued.</p>
            <p>It has an easy to override visual style, and is appropriately subdued.</p>
            <p>It has an easy to override visual style, and is appropriately subdued.</p>
            <p>It has an easy to override visual style, and is appropriately subdued.</p>
        </div>
    </li>
    <li>
        <div class="panel" data-equalizer-watch="panels">
            <h4>This is a regular panel.</h4>
            <p>It has an easy to override visual style, and is appropriately subdued.</p>
            <p>It has an easy to override visual style, and is appropriately subdued.</p>
            <p>It has an easy to override visual style, and is appropriately subdued.</p>
        </div>
    </li>
</ul>