<ul class="large-block-grid-4 medium-block-grid-2 small-block-grid-1" data-equalizer="panels">
    <li>
        <div class="panel" data-equalizer-watch="panels">
            <h5>Sicherheit</h5>

            <p th:if="${!security.isConnectionSecure()}">Die Daten werden unverschlüsselt übertragen!</p>
        </div>
    </li>
    <li>
        <div class="panel" data-equalizer-watch="panels">
            <h5>This is a regular panel.</h5>

            <p>It has an easy to override visual style, and is appropriately subdued.</p>

            <p>It has an easy to override visual style, and is appropriately subdued.</p>

            <p>It has an easy to override visual style, and is appropriately subdued.</p>

            <p>It has an easy to override visual style, and is appropriately subdued.</p>

            <p>It has an easy to override visual style, and is appropriately subdued.</p>
        </div>
    </li>
    <li>
        <div class="panel" data-equalizer-watch="panels">
            <h5>This is a regular panel.</h5>

            <p>It has an easy to override visual style, and is appropriately subdued.</p>

            <p>It has an easy to override visual style, and is appropriately subdued.</p>

            <p>It has an easy to override visual style, and is appropriately subdued.</p>
        </div>
    </li>
    <li>
        <div class="panel" data-equalizer-watch="panels">
            <h5>This is a regular panel.</h5>

            <p>It has an easy to override visual style, and is appropriately subdued.</p>

            <p>It has an easy to override visual style, and is appropriately subdued.</p>
        </div>
    </li>
    <li>
        <div class="panel" data-equalizer-watch="panels">
            <h5>This is a regular panel.</h5>

            <p>It has an easy to override visual style, and is appropriately subdued.</p>

            <p>It has an easy to override visual style, and is appropriately subdued.</p>

            <p>It has an easy to override visual style, and is appropriately subdued.</p>

            <p>It has an easy to override visual style, and is appropriately subdued.</p>

            <p>It has an easy to override visual style, and is appropriately subdued.</p>
        </div>
    </li>
    <li>
        <div class="panel" data-equalizer-watch="panels">
            <h5>This is a regular panel.</h5>

            <p>It has an easy to override visual style, and is appropriately subdued.</p>
        </div>
    </li>
    <li>
        <div class="panel" data-equalizer-watch="panels">
            <h5>This is a regular panel.</h5>

            <p>It has an easy to override visual style, and is appropriately subdued.</p>

            <p>It has an easy to override visual style, and is appropriately subdued.</p>

            <p>It has an easy to override visual style, and is appropriately subdued.</p>

            <p>It has an easy to override visual style, and is appropriately subdued.</p>
        </div>
    </li>
    <li>
        <div class="panel" data-equalizer-watch="panels">
            <h5>This is a regular panel.</h5>

            <p>It has an easy to override visual style, and is appropriately subdued.</p>

            <p>It has an easy to override visual style, and is appropriately subdued.</p>

            <p>It has an easy to override visual style, and is appropriately subdued.</p>
        </div>
    </li>
</ul>