<div>
    <p class="light-text" ng-show="isSearchResultEmpty()">Keine Playlists vorhanden!</p>
    <div ng-repeat="list in playlists">
        <p class="light-text">{{list.name}} - {{list.trackCount}} Tracks</p>
        <button class="button spoozer" ng-click="playList(list)">Playlist abspielen</button>
        <button class="button spoozer" ng-click="deletePlaylist(list)">löschen</button>
    </div>
    <form ng-submit="addPlaylist()">
        <fieldset>
            <label for="name">Playlist-Name</label>
            <input type="text" id="name" name="name" ng-model="name" placeholder="Name..." required="required"/>
            <button type="submit" class="button spoozer">Playlist hinzufügen</button>
        </fieldset>
    </form>
</div>