<tabset>
    <tab heading="Übersicht" active="tabs.overview.active" select="selectTab('overview')">
        <div class="row fill" data-equalizer="profile-overview">
            <div class="medium-6 columns">
                <div class="panel" data-equalizer-watch="profile-overview">
                    <h4>Profil:</h4>
                    <table class="fill">
                        <tr>
                            <th>Username:</th>
                            <td>{{userDetails.username}}</td>
                        </tr>
                        <tr>
                            <th>Passwort:</th>
                            <td>********</td>
                        </tr>
                        <tr>
                            <th>Name:</th>
                            <td>{{userDetails.name}}</td>
                        </tr>
                        <tr>
                            <th>E-Mail:</th>
                            <td>{{userDetails.email}}</td>
                        </tr>
                    </table>
                    <ul class="button-group even-2">
                        <li><button class="button spoozer" ng-click="tabs.profile.active = true">Bearbeiten</button></li>
                        <li><button class="button spoozer" ng-click="tabs.password.active = true">Passwort ändern</button></li>
                    </ul>
                </div>
            </div>
            <div class="medium-6 columns">
                <div class="panel" data-equalizer-watch="profile-overview">
                    <h4>Accounts:</h4>
                    <ul class="list radius" ng-repeat="(service, account) in userAccounts">
                        <li><a ng-href="{{account.url}}" target="_blank">{{account.serviceName}}</a></li>
                    </ul>
                    <p ng-show="areUserAccountsEmpty()">Keine vorhanden!</p>
                    <button class="button spoozer fill" ng-click="tabs.accounts.active = true">Bearbeiten</button>
                </div>
            </div>
        </div>
    </tab>
    <tab heading="Profil Bearbeiten" active="tabs.profile.active" select="selectTab('profile')">
        <form ng-submit="saveUserDetails()">
            <fieldset>
                <table>
                    <tr>
                        <th>Username:</th>
                        <td><input ng-model="editProfile.username"/></td>
                    </tr>
                    <tr>
                        <th>Name:</th>
                        <td><input ng-model="editProfile.name"/></td>
                    </tr>
                    <tr>
                        <th>E-Mail:</th>
                        <td><input ng-model="editProfile.email"/></td>
                    </tr>
                </table>
                <button type="submit" class="button spoozer">Speichern</button>
            </fieldset>
        </form>
    </tab>
    <tab heading="Passwort ändern" active="tabs.password.active" select="selectTab('password')">
        <form ng-submit="changePassword()">
            <fieldset>
                <h3>Passwort ändern</h3>
                <label for="password">Altes Passwort</label>
                <input type="password" id="oldpassword" name="oldpassword" ng-model="editPassword.oldpassword" required="required"/>
                <label for="password">Neues Passwort</label>
                <input type="password" id="password" name="password" ng-model="editPassword.password" required="required"/>
                <label for="password2">Neues Passwort wiederholden</label>
                <input type="password" id="password2" name="password2" ng-model="editPassword.password2" required="required"/>
                <button type="submit" class="button spoozer">Speichern</button>
            </fieldset>
        </form>
    </tab>
    <tab heading="Accounts" active="tabs.accounts.active" select="selectTab('accounts')">
        <accordion close-others="true">
            <accordion-group>
                <accordion-heading>
                    <img class="accordion-header" ng-class="{grayscale: !userAccounts.spotify}" src="img/spotify.png"/>
                </accordion-heading>
                <a class="button round spotify" target="_blank" href="/spotify/login" ng-hide="userAccounts.spotify">Anmelden</a>
                <div ng-show="userAccounts.spotify">
                    <table>
                        <tr ng-show="userAccounts.spotify.displayname">
                            <th>Name:</th>
                            <td>{{userAccounts.spotify.displayname}}</td>
                        </tr>
                        <tr ng-show="userAccounts.spotify.username">
                            <th>Benutzername:</th>
                            <td>{{userAccounts.spotify.username}}</td>
                        </tr>
                        <tr ng-show="userAccounts.spotify.url">
                            <th>Url:</th>
                            <td><a ng-href="{{userAccounts.spotify.url}}"
                                   target="_blank">{{userAccounts.spotify.url}}</a></td>
                        </tr>
                    </table>
                    <button class="round spotify" ng-click="spotifyLogout()">Abmelden</button>
                </div>
            </accordion-group>
            <accordion-group>
                <accordion-heading>
                    <img class="accordion-header" ng-class="{grayscale: !userAccounts.soundcloud}" src="/img/soundcloud.png"/>
                </accordion-heading>
                <a class="button round soundcloud" target="_blank" href="/soundcloud/login" ng-hide="userAccounts.soundcloud">Anmelden</a>
                <div ng-show="userAccounts.soundcloud">
                    <table>
                        <tr ng-show="userAccounts.soundcloud.displayname">
                            <th>Name:</th>
                            <td>{{userAccounts.soundcloud.displayname}}</td>
                        </tr>
                        <tr ng-show="userAccounts.soundcloud.username">
                            <th>Benutzername:</th>
                            <td>{{userAccounts.soundcloud.username}}</td>
                        </tr>
                        <tr ng-show="userAccounts.soundcloud.url">
                            <th>Url:</th>
                            <td><a ng-href="{{userAccounts.soundcloud.url}}"
                                   target="_blank">{{userAccounts.soundcloud.url}}</a></td>
                        </tr>
                    </table>
                    <button class="round soundcloud" ng-click="soundcloudLogout()">Abmelden</button>
                </div>
            </accordion-group>
        </accordion>
    </tab>
    <tab heading="Einstellungen" active="tabs.settings.active" select="selectTab('settings')">
        Settings comming soon...
    </tab>
</tabset>