<div>
    <div ng-repeat="(service, result) in searchResult">
        <h3 class="result-service"><img ng-src="img/{{service | lowercase}}-light.png"/></h3>
        <table class="search-result table fill">
            <thead>
            <tr>
                <th></th>
                <th>Titel</th>
                <th>Interpret</th>
                <th>Länge</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="track in result" class="search-result-track">
                <td>
                    <img ng-src="{{track.coverUrl}}"/>
                </td>
                <td>{{track.title}}</td>
                <td>{{track.interpret}}</td>
                <td>{{track.durationInMillis | timeFromMillisFilter}}</td>
                <td>
                    <ul class="button-group radius right">
                        <li>
                            <button class="button {{service | lowercase}} small" ng-click="playTrack(track)"><span
                                    class="fa fa-play"></span>
                            </button>
                        </li>
                        <li>
                            <button class="button {{service | lowercase}} small" ng-click="addToPlaylist(track)"><span
                                    class="fa fa-plus"></span>
                            </button>
                        </li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <p class="light-text" ng-show="isSearchResultEmpty()">Keine Ergebnisse gefunden!</p>
</div>