<html xmlns:th="http://www.thymeleaf.org">

<body>
    <th:block th:fragment="require-js">
        <noscript class="require-js">
            <h3>Um Spoozer verwenden zu können, muss JavaScript aktiviert sein!</h3>
        </noscript>
    </th:block>
    <th:block th:fragment="heading">
        <div class="row heading">
            <div class="large-6 medium-8 small-11 large-centered small-centered columns text-center">
                <img data-interchange="[img/logo-small.png, (small)], [img/logo-medium.png, (medium)], [img/logo-large.png, (large)]" />
                <noscript><img th:src="@{/img/logo-medium.png}" />
                </noscript>
                <img data-interchange="[img/spoozer-light-small.png, (small)], [img/spoozer-light-medium.png, (medium)], [img/spoozer-light-large.png, (large)]" />
                <noscript><img th:src="@{/img/spoozer-light-medium.png}" />
                </noscript>
            </div>
        </div>
    </th:block>
    <th:block th:fragment="secure">
        <div class="row" th:if="${!security.isConnectionSecure()}">
            <div class="large-6 medium-8 small-11 large-centered small-centered columns">
                <div class="alert-box warning not-secure">Die Daten werden unverschlüsselt übertragen!</div>
            </div>
        </div>
    </th:block>
</body>

</html>