<html xmlns:th="http://www.thymeleaf.org">

<body>
<th:block th:fragment="main">
    <div class="large-3 medium-4 small-5 columns">
        <span class="label spoozer track-info">Title</span>
    </div>
    <div class="large-2 hide-for-medium-only hide-for-small-only columns">
        <div class="progress track-time-progress">
            <span class="meter spoozer" style="width: 40%"></span>
        </div>
    </div>
    <div class="large-2 medium-3 hide-for-small-only columns text-left">
        <div class="track-time-text text-white">
            <span>1:21 - 3:32</span>
        </div>
    </div>
    <div class="large-3 medium-4 small-6 columns text-center">
        <ul class="button-group round player-control">
            <li><a href="#/" class="button spoozer small"><span class="fi-previous"></span></a>
            </li>
            <li><a href="#/" class="button spoozer small"><span class="fi-play"></span></a>
            </li>
            <li><a href="#/" class="button spoozer small"><span class="fi-next"></span></a>
            </li>
        </ul>
    </div>
    <div class="large-1 hide-for-medium-only columns">
        <div class="range-slider volume-slider" data-slider="44">
            <span class="range-slider-handle grey" role="slider" tabindex="0" aria-valuemin="0" aria-valuemax="100"
                  aria-valuenow="44" style="transform: translateX(32.88px);"></span>
            <span class="range-slider-active-segment spoozer" style="width: 44%;"></span>
        </div>
    </div>
    <div class="large-1 medium-1 small-1"></div>
</th:block>
</body>

</html>